<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &mdash; {{ site.author }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!-- <link href="bower_components/bootstrap-theme-NTS/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"> -->
    <link href="//nts.github.io/bootstrap-theme-NTS/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
    
    <!-- local style -->
    <style type="text/css">
    .container {
        max-width: 78rem;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
    figure {
        text-align: center;
    }
    figure figcaption {
        font-size: small;
        font-style: italic;
    }
    </style>

    <!-- Le fav and touch icons -->
    <link rel=icon sizes="any" type="image/svg+xml" href='data:image/svg+xml,<path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="round" d="M33.7,64.3C22.1,77.2,15,94.3,15,113  c0,40.1,32.5,72.7,72.7,72.7c40.1,0,72.7-32.5,72.7-72.7c0-18.7-7.1-35.8-18.7-48.7"/>'>
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body class="container index">

      <header class="page-header">
        <h1>{{ page.title }} {% if page.tagline %} <br class="visible-xs"><small>{{ page.tagline }}</small>{% endif %}</h1>
      </header>
      
      <article class="content">
        
        {{ content }}
        
      </article>

  </body>
</html>
